<br>
<footer>
    <div id="footerleft">
        <p>Anddd at last, you've come to the bottom of this page.<br>Interesting ain't it?<br>Might wanna check out some of my other pages while you're at it</p><br><a href="#top">Scroll to top?</a></div>
    <div id="footerright">
        <ul>
            <li><a href="Projects">Projects</a></li>
            <li><a href="Feedback">Feedback</a></li>
            <li><a href="Contact">Contact</a></li>
            <li><a href="Arduino">Arduino</a></li>
        </ul>
    </div><br style="clear:both;" /></footer>
</body>

</html>